@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgb(99, 99, 99);
  color: white;
  font-family: Sriracha;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form,
.greeting {
  display: none;
}
.showing {
  display: block;
}

.greeting {
  font-size: 30px;
}

input {
  padding: 10px 16px;
  margin: 32px;
}

.toDoList li {
  list-style: none;
}

.toDoList li > button {
  margin-right: 4px;
}

.js-weather {
  font-size: 20px;
  position: absolute;
  color: lightblue;
  top: 0px;
  left: 80%;
}

h1 {
  color: white;
  transition: color 0.5s ease-in-out;
  font-size: 80px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
