@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");

.form,
.greeting {
  display: none;
  position: relative;
}
.showing {
  display: block;
}

.input__name,
.input__toDo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greeting {
  font-size: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

body {
  background-color: rgb(99, 99, 99);
  color: white;
  font-family: Sriracha;
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
}

.js-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-style: 30px;
  padding: 10px 30px;
}

.toDoList li {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.js-weather {
  font-size: 20px;
  position: absolute;
  color: lightblue;
  top: 0px;
  left: 80%;
}

h1 {
  color: white;
  transition: color 0.5s ease-in-out;
  font-size: 80px;
}

.clicked {
  color: gray;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
